
<div class="container">
<div class="mt-5 pt-3">
    <h1 class="text-start text-uppercase">About me!</h1>
    <hr>
</div>
<div class="pt-3">
    <p class="text-start">Hello there!, I'm Joel a junior full stack web developer, currently living in Barcelona. </p>
    <p>This is project was made to improve my front end skills, using: </p>
    <ul>
        <li>Angular</li>
        <li>Html</li>
        <li>CSS</li>
        <li>Boostrap</li>
    </ul>
    <p>I hope you enjoy it </p>
</div>
<div class="pt-5">
    <h3>Get in touch</h3>
    <hr>    
    <div class="d-flex justify-content-center">
        <div class="pt-4 w-50">
        <form id="contactForm" (submit)="sendEmail($event)">
            <!-- Name input -->
            <div class="mb-3">
              <label class="form-label" for="name">Name</label>
              <input class="form-control" id="name" type="text" placeholder="Name" />
            </div>
        
            <!-- Email address input -->
            <div class="mb-3">
              <label class="form-label" for="emailAddress">Email Address</label>
              <input class="form-control" id="emailAddress" type="email" placeholder="Email" />
            </div>
        
            <!-- Message input -->
            <div class="mb-3">
              <label class="form-label" for="message">Message</label>
              <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
            </div>
        
            <!-- Form submit button -->
            <div class="d-grid">
              <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
          </form>   
                 
        </div>
    </div>
</div>
</div>