<!-- <div class="container">
    <div class="mt-5 pt-3">
        <div class="row row-cols-auto justify-content-center">
            <div class="accordion col w-100" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            Season 01
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="row row-cols-auto justify-content-center">
                                <div *ngFor="let episode of season01" class="col mt-4 mb-4">
                                    <a [routerLink]="['', episode.id]">
                                        <div class="card" style="width: 18rem;">
                                            <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item text-center">{{episode.episode}}</li>
                                                    <li class="list-group-item text-center">{{episode.air_date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Season 02
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="row row-cols-auto justify-content-center">
                                <div *ngFor="let episode of season02" class="col mt-4 mb-4">
                                    <a [routerLink]="['', episode.id]">
                                        <div class="card" style="width: 18rem;">
                                            <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item text-center">{{episode.episode}}</li>
                                                    <li class="list-group-item text-center">{{episode.air_date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Season 03
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-collapseThree">
                        <div class="accordion-body">
                            <div class="row row-cols-auto justify-content-center">
                                <div *ngFor="let episode of season03" class="col mt-4 mb-4">
                                    <a [routerLink]="['', episode.id]">
                                        <div class="card" style="width: 18rem;">
                                            <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item text-center">{{episode.episode}}</li>
                                                    <li class="list-group-item text-center">{{episode.air_date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                            Season 04
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <div class="row row-cols-auto justify-content-center">
                                <div *ngFor="let episode of season04" class="col mt-4 mb-4">
                                    <a [routerLink]="['', episode.id]">
                                        <div class="card" style="width: 18rem;">
                                            <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item text-center">{{episode.episode}}</li>
                                                    <li class="list-group-item text-center">{{episode.air_date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-headingFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-headingFive">
                            Season 05
                        </button>
                    </h2>
                    <div id="panelsStayOpen-headingFive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <div class="row row-cols-auto justify-content-center">
                                <div *ngFor="let episode of season05" class="col mt-4 mb-4">
                                    <a [routerLink]="['', episode.id]">
                                        <div class="card" style="width: 18rem;">
                                            <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item text-center">{{episode.episode}}</li>
                                                    <li class="list-group-item text-center">{{episode.air_date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="mt-5 pt-3">
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
         Season 01
        </mat-panel-title>
       
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season01" class="col mt-4 mb-4">
                <a [routerLink]="['', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Season 02
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season02" class="col mt-4 mb-4">
                <a [routerLink]="['', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Season 03
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="row row-cols-auto justify-content-center">
              <div *ngFor="let episode of season03" class="col mt-4 mb-4">
                  <a [routerLink]="['', episode.id]">
                      <div class="card" style="width: 18rem;">
                          <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                          <div class="card-body">
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-center">{{episode.episode}}</li>
                                  <li class="list-group-item text-center">{{episode.air_date}}</li>
                              </ul>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
   
      </mat-panel-description>
    
        
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Season 04
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="row row-cols-auto justify-content-center">
              <div *ngFor="let episode of season04" class="col mt-4 mb-4">
                  <a [routerLink]="['', episode.id]">
                      <div class="card" style="width: 18rem;">
                          <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                          <div class="card-body">
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-center">{{episode.episode}}</li>
                                  <li class="list-group-item text-center">{{episode.air_date}}</li>
                              </ul>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
   
      </mat-panel-description>
    
        
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Season 05
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season05" class="col mt-4 mb-4">
                <a [routerLink]="['', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>
</div>