<div class="container">
    <div class="row justify-content-start">
        <div class="col mt-5">
            <h1>Episodes</h1>
        </div>
    </div>
    <div class="mt-5 pt-3 ms-4">
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
         Season 01
        </mat-panel-title>
       
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season01" class="col mt-4 mb-4">
                <a [routerLink]="['episode/', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      <mat-action-row>
        <button mat-button color="basic" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Season 02
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season02" class="col mt-4 mb-4">
                <a [routerLink]="['episode/', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      
      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="basic" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Season 03
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="row row-cols-auto justify-content-center">
              <div *ngFor="let episode of season03" class="col mt-4 mb-4">
                <a [routerLink]="['episode/', episode.id]">
                      <div class="card" style="width: 18rem;">
                          <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                          <div class="card-body">
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-center">{{episode.episode}}</li>
                                  <li class="list-group-item text-center">{{episode.air_date}}</li>
                              </ul>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
   
      </mat-panel-description>
    
        
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="basic" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Season 04
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="row row-cols-auto justify-content-center">
              <div *ngFor="let episode of season04" class="col mt-4 mb-4">
                <a [routerLink]="['episode/', episode.id]">
                      <div class="card" style="width: 18rem;">
                          <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                          <div class="card-body">
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item text-center">{{episode.episode}}</li>
                                  <li class="list-group-item text-center">{{episode.air_date}}</li>
                              </ul>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
   
      </mat-panel-description>
    
        
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="basic" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Season 05
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="row row-cols-auto justify-content-center">
            <div *ngFor="let episode of season05" class="col mt-4 mb-4">
                <a [routerLink]="['episode/', episode.id]">
                    <div class="card" style="width: 18rem;">
                        <p class="text-uppercase text-center pt-4">{{episode.name}}</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{episode.episode}}</li>
                                <li class="list-group-item text-center">{{episode.air_date}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
 
    </mat-panel-description>
  
      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="basic" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>
</div>