<div class="container">
   <p>Name</p>
    <input type="radio" name="name" id="name" value="rick"> Rick <br>
    <input type="radio" name="name" id="name" value="morty"> Morty <br>
    <input type="radio" name="name" id="name" value="summer"> Summer <br>
    <input type="radio" name="name" id="name" value="jerry"> Jerry <br>
    <p>Status</p>
    <input type="radio" name="status" id="status" value="alive"> Alive <br>
    <input type="radio" name="status" id="status" value="dead"> Dead <br>
    <input type="radio" name="status" id="status" value="unknown"> Unknown <br>
    <p>Species</p>
    <input type="radio" name="species" id="species" value="human"> Human <br>
    <input type="radio" name="species" id="species" value="alien"> Alien <br>

    <p>Gender</p>
    <input type="radio" name="gender" id="gender" value="male"> Male <br>
    <input type="radio" name="gender" id="gender" value="female"> Female <br>
    <input type="radio" name="gender" id="gender" value="genderless"> Genderless <br>
    <input type="radio" name="gender" id="gender" value="unknown"> Unknown <br>
    <button type="radio" (click) =" onFilterHandeler()">Filter</button>
    <button  (click) ="removeSelection()">Clean</button>
</div>