<div class="container">
   <p>Name</p>
    <input type="checkbox" name="name" id="name" value="rick"> Rick <br>
    <input type="checkbox" name="name" id="name" value="morty"> Morty <br>
    <input type="checkbox" name="name" id="name" value="summer"> Summer <br>
    <input type="checkbox" name="name" id="name" value="jerry"> Jerry <br>
    <p>Status</p>
    <input type="checkbox" name="status" id="status" value="alive"> Alive <br>
    <input type="checkbox" name="status" id="status" value="dead"> Dead <br>
    <input type="checkbox" name="status" id="status" value="unknown"> Unknown <br>
    <input type="checkbox" name="status" id="species"> Species <br>
    <input type="checkbox" name="status" id="type"> Type <br>
    <input type="checkbox" name="status" id="gender"> Gender <br>
    <button type="submit" (click) =" onFilterHandeler()">Filter</button>
    <button  (click) ="removeSelection()">Clean</button>
</div>