<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid ms-lg-5 ps-lg-5 ps-4 ">
      <a class="navbar-brand" [routerLink]="['']"><img src="../../assets/Rick_and_Morty.svg.png" alt="Logo" height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 text-uppercase text-center">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/characteres']">Characteres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/locations']">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/episodes']">Episodes</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " [routerLink]="['/about-me']">About me</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
