<div class="container">
    <div class="row justify-content-start">
        <div class="col mt-5">
            <h2>Locations</h2>
        </div>

        <div class="row justify-content-center">
            <!-- <div class="col-lg-2">
            <app-filter-characters (newItemEvent)="addItem($event)"></app-filter-characters>
        </div> -->
            <div class="col-lg-12">
                <div class="row row-cols-auto justify-content-center col-lg-12">
                    <div *ngFor=" let location of locations" class="col mt-4 mb-4">
                        <div class="card" style="width: 18rem;">

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{location.name}}</li>
                                    <li class="list-group-item">{{location.type}}</li>
                                    <li class="list-group-item">{{location.dimension}}</li>
                                    <!-- <li class="list-group-item">{{location.residents}}</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <mat-paginator #paginator class="mb-0 pb-0 paginator" (page)="handlePageEvent($event)" [length]="length"
                    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
                    [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>