<div class="container ">
    <app-loader *ngIf="loading"></app-loader>
    <div class="row mt-5 pt-3">
        <h2 class="text-uppercase text-lg-start text-center ">{{episode.name}}</h2>
    </div>
    <div class="row mt-3 pt-3">
        <div class="col">
            <p><strong>Seasson:</strong> {{episode.episode.slice(0,3)}}</p>
        </div>
        <div class="col">
            <p><strong>Episode:</strong> {{episode.episode.slice(3)}}</p>
        </div>
        <div class="col">   
            <p><strong>Air date:</strong> {{episode.air_date}}</p>
        </div>
    </div>
    <div class="row mt-4 pt-3  d-flex ">
        <h3 class="text-center">Characteres</h3>
        <div class="ms-2 row row-cols-auto justify-content-center ">
            <div *ngFor=" let character of characteres" class="col mt-4 mb-4 ">
                <a [routerLink]="['/characteres/character',character.id]">
                    <div class="card shadow" style="width: 18rem;">
                    <img src="{{character.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">{{character.name}}</li>
                        </ul> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row pt-4 ms-2 ">
        <div class="col justify-content-start">
            <button  *ngIf="episode.id < '0 '" disabled ><i class="fas fa-angle-double-left"></i></button>
            <button  *ngIf="episode.id > '1'"  (click)="prevEpisode()"><i class="fas fa-angle-double-left"></i></button>
        </div>
        <div class="col d-flex justify-content-end ">
            <button  *ngIf="episode.id > episodeLength" disabled ><i class="fas fa-angle-double-right"></i></button>
            <button *ngIf="episode.id < episodeLength " (click)="nextEpisode()"><i class="fas fa-angle-double-right"></i></button>
          
        </div>
    
    </div>
</div>
