/* You can add global styles to this file, and also import other style files */
// Global styles
html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #272B33;
    color: white;
  }
  
  body {
    overflow-x: hidden;
    padding: 0;
  }
  .card{
    .card-body{
      .list-group-item{
        background-color: #3C3E44 !important;
        color:white !important
      }
    }
    background-color: #3C3E44 !important;
  }
  
  .paginator{
    background: none !important;

}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}